.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.app-background {
    position: fixed;
    z-index: -1;
}
